@use "../../../styles/utils";

.home {
    margin: 2rem auto;
    width: 100%;
    max-width: utils.pxToRem(344px);

    @include utils.media-sm() {
        max-width: utils.pxToRem(512px);
    }

    @include utils.media-md() {
        max-width: utils.pxToRem(688px);
    }

    @include utils.media-lg() {
        max-width: utils.pxToRem(928px);
    }

    @include utils.media-xl() {
        max-width: utils.pxToRem(1000px);
    }

    &-content {
        display: flex;
        height: 100vh;

        @include utils.media-ltlg() {
            flex-direction: column;
            align-items: center;
        }
    }

    &-header {
        background-color: utils.$white;
    }

    app-sidebar{
        width: 64%;
        @include utils.media-ltlg(){
            width: 100%;
        }
    }

    app-chat{
        width: 100%;
    }
}
