$dark-navy: #001252;
$navy: #00176b;
$royal-blue: #001d9b;
$sky-blue: #007bff;
$teal: #00b59f;
$jet-black: #161616;
$charcoal: #1a202c;
$slate: #262c39;
$success-green: #28a745;
$dark-gray: #2D3748;
$onyx: #2c2e2f;
$dark-charcoal: #2d3748;
$steel-blue: #2e6baf;
$dim-gray: #333;
$dim-gray-alt: #333333;
$ash-gray: #374151;
$gunmetal: #3b4251;
$shadow-gray: #3d404d;
$pewter: #484c54;
$mahogany: #4a2c2c;
$cool-gray: #4a5568;
$electric-purple: #4b00c9;
$light-sky-blue: #4dc6fa;
$medium-gray: #555;
$smoke-gray: #565859;
$violet: #6200ee;
$light-blue: #63b3ed;
$gray: #666;
$lavender-blue: #6a46d4;
$soft-blue: #6ba3da;
$slate-gray: #6c757d;
$blue-gray: #718096;
$amethyst: #7F5FFF;
$brown: #7d673f;
$silver-gray: #7e8384;
$amethyst-alt: #7f5fff;
$stone-gray: #89929c;
$aqua: #9bdddb;
$light-gray: #F1F1F1;
$gray-alt: #a0a0a0;
$blue-gray-alt: #a0aec0;
$pale-gray: #aeb8c2;
$mint: #b2e9e2;
$soft-gray: #cbd5e0;
$soft-gray-alt: #cbd5e1;
$light-gray-alt: #ccc;
$fuchsia: #ce1cb3;
$pale-blue: #d3dbe3;
$silver: #d6d6d6;
$danger-red: #d9534f;
$crimson: #dc3545;
$platinum: #dcdcdc;
$silver-alt: #ddd;
$powder-blue: #ddeef5;
$bright-red: #de150c;
$grayish-white: #e0e0e0;
$white-smoke: #e2e2e2;
$light-silver: #e2e8f0;
$tomato: #e53e3e;
$cloud-gray: #e9edf2;
$orange-red: #ea4515;
$vermillion: #eb5023;
$gainsboro: #eee;
$gainsboro-alt: #eeeeee;
$whisper: #f0f0f0;
$snow-drift: #f0f4f7;
$goldenrod: #f2ba38;
$tangerine: #f77b2f;
$alabaster: #f7f7f7;
$blush: #f8d7da;
$white-lilac: #f9f9f9;
$light-coral: #fac0bd;
$sunglow: #fcbe2d;
$peach-puff: #fcdad8;
$misty-rose: #fdeeed;
$red: #ff0000;
$salmon: #ff6f6f;
$pink-salmon: #ffa19c;
$amber: #ffc107;
$gold: #ffc439;
$light-pink: #ffe6e6;
$pale-gold: #ffed94;
$white: #fff;
$cornsilk: #fff3cd;
$lemon-chiffon: #fff7cc;
$pure-white: #ffffff;