@if (isOpen) {
  <div
    class="modal-overlay"
    role="dialog"
    aria-modal="true"
    (click)="close.emit()"
  >
    <div
      class="modal"
      (click)="stopPropagation($event)"
    >
      <!-- <button
        class="modal-close"
        (click)="close.emit()"
        aria-label="Close modal"
      >
        ×
      </button> -->
			<button
          class="modal-close"
          (click)="close.emit()"
          aria-label="Close modal"
        >
          ×
        </button>
        <div class="modal-header">
          <h2 class="modal-title">Detalles</h2>
        </div>
      <ng-content></ng-content>
    </div>
  </div>
}
