@use "../../../../../styles/utils";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeInOverlay 0.3s ease-out;
}

.modal {
  background-color: utils.$white;
  border-radius: utils.pxToRem(12px);
  width: utils.pxToRem(344px);
  max-height: 95vh;
  overflow-y: auto;
  box-shadow: 0 utils.pxToRem(8px) utils.pxToRem(24px) rgba(0, 0, 0, 0.2);
  padding: utils.pxToRem(20px);
  position: relative;
  animation: modalIn 0.3s ease-out;

  @include utils.media-xs() {
    width: utils.pxToRem(344px);
  }
  @include utils.media-sm() {
    width: utils.pxToRem(544px);
  }
  @include utils.media-md() {
    width: utils.pxToRem(644px);
  }
  @include utils.media-lg() {
    width: utils.pxToRem(644px);
  }
  @include utils.media-xl() {
    width: utils.pxToRem(644px);
  }

  [data-theme="dark"] & {
    background-color: utils.$dark-charcoal;
    color: utils.$light-silver;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: utils.pxToRem(1px) solid utils.$gainsboro-alt;
  height: utils.pxToRem(40px);

  .modal-title {
    font-size: utils.pxToRem(24px);
    font-weight: bold;
    color: utils.$dim-gray;

    [data-theme="dark"] & {
      color: utils.$light-silver;
    }
  }
}

.modal-content {
  margin-top: utils.pxToRem(20px);
  font-size: utils.pxToRem(16px);
  color: utils.$medium-gray;
  line-height: 1.6;

  [data-theme="dark"] & {
    color: utils.$soft-gray;
  }
}

.modal-close {
  width: utils.pxToRem(40px);
  height: utils.pxToRem(40px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: utils.pxToRem(10px);
  right: utils.pxToRem(10px);
  background: none;
  border: none;
  font-size: utils.pxToRem(24px);
  color: utils.$gray;
  cursor: pointer;

  &:hover {
    color: utils.$danger-red;
  }

  [data-theme="dark"] & {
    color: utils.$soft-gray;

    &:hover {
      color: utils.$tomato;
    }
  }
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
