/* You can add global styles to this file, and also import other style files */
@forward './styles/globals';
@forward './styles/utility-classes';

body {
  background-color: #F1F1F1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', 'sans-serif';
  [data-theme="dark"] &{
      background-color: #262c39;
  }


  @media (min-width: 1024px){
      overflow: hidden;
      
  }
}

* {
  transition:
  background-color 0.3s ease, color 0.01s ease;
}