

@mixin theme($light-theme: true) {
    @if $light-theme {
        background-color: #F1F1F1;
        color: black;
    } @else {
        background-color: #262c39;
        color: white;
    }
}

::ng-deep [data-theme="light"] {
    @include theme(true);
}

::ng-deep [data-theme="dark"] {
    @include theme(false);
}