<section>
  <h4 class="sidebar-checklist-title">Checklist:</h4>
  <ul class="sidebar-checklist">
    @for (item of checklist; track item) {
      <li [class.overdue]="isOverdue(item.dueDate) && !item.checked">
        <label class="custom-checkbox">
          <input
            type="checkbox"
            [checked]="item.checked"
            (change)="toggleCheckbox(item.id, $event)"
          />
          <span>{{ item.label }}</span>
          <span class="custom-checkbox-label">{{ item.dueDate || 'Sin fecha' }}</span>
        </label>
      </li>
    }
  </ul>
</section>
